@model AvaProj.Models.DisciplinaOfertada

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-3">Detalhes</h1>

<h4>Disciplina</h4>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Disciplina)</th>
            <th>@Html.DisplayNameFor(model => model.Professor)</th>
            <th>@Html.DisplayNameFor(model => model.Ano)</th>
            <th>@Html.DisplayNameFor(model => model.Semestre)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Disciplina.Id)</td>
            <td>@Html.DisplayFor(model => model.Professor.Id)</td>
            <td>@Html.DisplayFor(model => model.Ano)</td>
            <td>@Html.DisplayFor(model => model.Semestre)</td>
        </tr>
    </tbody>
</table>


<div>
    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar a Lista</a>
</div>
